
name: GitHub Actions Dependable
on: [push]
jobs:
  Cypress-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitCode
        uses: actions/checkout@v2

      - name: Run Cypress Test
        uses: cypress-io/github-action@v2
        with:
          build: npx cypress run
          browser: chrome
         
  
